*{
   box-sizing: border-box;
   }

body{
   font-size: 15px;
   margin: 0;
   padding: 0;
}

#logo-bar{
   background: #030303;
   width: 100%;
   height: 150px;
   position: relative;
}

#logo-bar img{
   max-width: 100%;
   position: absolute;
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);
   margin: auto;
}
#global-container{
   margin: 0 25% 0 25%;
}


#primary-nav {
   text-align: center;
   margin: 0;
   padding: 15px 0 15px 0;
   font-family: "Open Sans Condensed";
   border-bottom: 3px solid black;
}

#secondary-nav{
   text-align: center;
   margin: 0;
   padding: 15px 0 15px 0;
   font-family: "Open Sans Condensed";
   margin-top: 2px;
   border-top: 1px solid black;
   border-bottom: 1px solid black;
}
li {
   display: inline-block;
}

#primary-nav a{
   font-weight: 700;
   color: #030303;
   text-decoration: none;
   font-size: 2em;
   padding: 10px;
}

#secondary-nav a{
   font-weight: 700;
   color: #030303;
   text-decoration: none;
   font-size: 1.1em;
   padding: 7px;   
}

#post-container{
   display: flex;
   flex-wrap: wrap;
}

.post{
   flex: 1 1 300px;
   border: 1px solid #ccc;
   margin: 10px;
}

.post:first-of-type{
   flex-basis: 960px;
}

.post:first-of-type .image img{
   width: 100%;
}

.image img{
   width: 100%;
   height: 100%;
}

.post .description{
   font-family: 'Merriweather';
   text-align: center;
   line-height: 1.4;
   padding: 15px;
}

.post .description h1{
   font-family: 'Open Sans Condensed';
   text-transform: uppercase;
   font-size: 2em;
}
.post:first-of-type .description{
   width: 70%;
   text-align: left;
}

.button{
   font-family: "Sans Serif";
   font-weight: bold;
   font-size: 14px;
   display: inline-block;
   height: 40px;
   color: #eee;
   text-decoration: none;
   margin-bottom: 15px;
   line-height: 40px;
}

.b-moreinfo{
   width: 100%;
   background-color: #030303;
}

.b-half{
   width: 50%;
   background-color: #222;
}

.b-half:last-of-type{
   background-color: #444;
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
#global-container{
   margin: 0 12% 0 12%;
}
.post{
   flex: 1 1 480px;
}
}

@media screen and (max-width:641px) {
#global-container{
   margin: 0 3% 0 3%;
}
}